
*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: #eee;
    flex-wrap: wrap;
}


.box{
    height: 100px;
    /* flex-basis: 200px; same as min width */
    /* flex-grow: 1; */
    /* flex-basis: 500px; */
    flex: 1 0 200px;

}

.one{
    background: red;
    /* flex-grow: 2; */
    /* flex-shrink: 1; */
    /* flex-basis: 100px; */
    
}

.two{
    background: blue;
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    /* flex-basis: 200px; */
}
.three{
    background: green;
    /* flex-grow: 1; */
    /* flex-shrink: 10; */
    /* flex-basis: 300px; */
}