<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.component.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="text">
                <h1>Be Young, Have Fun, <br> <span>Drive Car</span></h1>
                <p> <b>Give us time, we’ll make your car shine</b></p>
                <p class="p2">A car wash service is more than just adding a shine to your vehicle.
                    A full-service car wash provides a thorough cleansing to both the inside
                    and the outside of your car. It is a detailed experience that combines both
                    efficiency and value for money.</p>
            </div>
        </div>
    </div>
</body>

</html>